<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="img/vec.png">
    <title>Document</title>
</head>
<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <img src="img/vec.png" alt="Your Image Alt Text" class="w-12 h-10 p-0.5 bg-gray-300 rounded-full">
        <strong><a style="color:black" href="http://127.0.0.1:5500/home.html" class="ml-3 text-xl">Assess</a></strong>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center">
            <a href="http://127.0.0.1:5500/home.html" class="mr-5 hover:text-gray-900">Home</a>
            <a href="/about.html" class="mr-5 hover:text-gray-900">About</a>
            <a href="/si.html" class="mr-5 hover:text-gray-900">Sign up</a>
        </nav>
    </div>
</header>
<body>
    <h1>My_OJ</h1>
    <h2 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Choose the problem to solve</h2>
    {% csrf_token %}
    {% if Problem_list %}
    <ul>
    {% for problem in Problem_list %}
    <li><a href="{% url 'HOME:Problem' problem.id %}">{{ problem.name }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No problems are available.</p>
    {% endif %}
</body>
</html>
